@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

:root{
    --color-prymary: #3EA201;
    --color-secondary: #115C01;
    --color-black: #000;
    --color-white: #fff;
}

body{
    background-image: url(/static/img/money2.png);
    background-size: cover;
    background-blend-mode: var();
    font-weight: 500;
    padding: 0 1rem;
}

button {
    background: #fff;
    border: 1px solid #adadad;
    border-radius: 8px;
    padding: 4px 18px;
}

input {
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    padding: 4px 8px;
}

input:focus {
    outline: none;
}

header, #about, #create, #edit, #all{
    padding: 1.25rem;
}

header img{
    display: block;
    margin: 1rem auto;
}

header nav{
    display: flex;
    gap: 3rem;
}

nav a {
    color: var(--color-black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
}

header nav a:nth-child(2n-1){
    text-align: right;
}

header div{
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 2px 2px 6px var(--color-black);
}

header h2 {
    font-size: 1.3rem;
    padding: 1rem;
}

#about{
    padding-right: 0;
}

#about-section img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
}

h1{
    font-size: 3rem;
    line-height: 105%;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
}

#about p{
    font-size: 1.25rem;
    padding-right: 1.25rem;
}

#about{
    margin: 3rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 2px 2px 6px var(--color-black);
}

#about > div {
    width: 65vw;
}

#about img {
    width: 30vw;
}

#about h1 {
    padding: 0;
    margin: 0;
}

#filtro-ticker {
    padding: .2rem;
    border-radius: .1rem;
}

.add-button {
    margin-right: .6rem;
}

.form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: #00000061;

    display: none;
    justify-content: center;
    align-items: center;
}

.form > div {
    background: #fff;
    width: 50%;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 2px 2px 6px var(--color-black);
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.form .botoes {
    display: flex;
    gap: 20px;
}

.form .botoes button {
    padding: .3rem;
}

.form form div:not(.funcao) {
    display: flex;
    align-items: center;
}

.form form div.funcao label:first-child {
    margin-right: 8.5rem;
}

.form form div > label:not(.opcao-input, .funcao) {
    width: 12rem;
}

.form form div input{
    margin-top: 1rem;
}




/* Estilização da tabela */

#all button {
    padding: .2rem;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#all table button {
    font-size: .85rem;
    padding: 0 .5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#all .del-button {
    background: #ff3939;
    color: #fff;
}

#all .edit-button {
    background: #ffd15d;
    margin-top: .1rem;
}

table img {
    width: .95rem;
    margin-right: .2rem;
}

thead {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    font-weight: bold;
    color: #555;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    border-bottom: 1px solid #ddd;
    background: var(--color-white);
}

tbody td:last-child {
    font-weight: bold;
}

#all .all-inv{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 2px 2px 6px var(--color-black);
    overflow: hidden !important;
    text-overflow: ellipsis;
    height: 100px;
}

#all .all-inv div {
    width: 12.5rem;
    height: 70px;
    border: 1px solid var(--color-black);
    padding: 1rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-primary{
    color: var(--color-prymary);
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 1290px) {
    .container {
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media screen and (min-width: 40rem){
    header div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header img{
        width: 4.5rem;
        left: 200px;
    }

    header img,
    header nav,
    header .button {
        margin: 0;
    }
}